.container-fluid {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*
table a { color: #0000ee; }
table a:visited { color: #551a8b; }
*/

table a { color: #3498db; }
table a:visited { color: #9b59b6; }

table i {
    margin-right: 8px;
}

th .caret {
    margin-left: 8px;
}

th.text-right .caret {
    margin-right: 8px;
}


/* FOOTER */

footer h5 { margin-top: 0; }

footer ul {
    list-style: none;
    padding-left: 0;
}
